<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Donde se guardarán los logs (archivo y consola en este caso) -->
    <target xsi:type="File" name="fileTarget" fileName="logfile.log" layout="${longdate} | ${level:uppercase=true} | ${message}" />
    <target xsi:type="Console" name="consoleTarget" layout="${longdate} | ${level:uppercase=true} | ${message}" />
  </targets>
  <rules>
    <!-- Nivel mínimo de los logs que queremos capturar -->
    <logger name="*" minlevel="Debug" writeTo="fileTarget,consoleTarget" />
    <logger name="Route*." minlevel="Debug" writeTo="fileTarget,consoleTarget" />
  </rules>
</nlog>
